{% extends 'layout.html' %}

{% block content %}
<h1>Welcome!</h1>

</table>
<table style="width:70%">
  <tr>
    <th>Course number</th>
    <th>course title</th>
    <th>course id</th>
  </tr>
{% for course in courses %}
  <tr>
    <td><a href="{{url_for('register_student', course_id=course.id)}}"">{{course.course_number}}</a></td>
    <td>{{course.course_title}}</td>
    <td>{{course.id}}</td>
  </tr>
{% endfor %}
</table>


<form action="{{ url_for('add_course') }}" method="post">
<input type="text" name="course_number" placeholder="Enter course number ">
<input type="text" name="course_title" placeholder="Type course title">
<button type="Submit">add course</button>
</form>




{% endblock %}
